<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 col-sm-6 col-xs-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Listagem de Categorias</h3>
                    <div class="d-flex justify-content-md-end">
                        <div>
                            <a class="btn btn-sm btn-primary" (click)="create()">Nova Categoria</a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table" style="width:100%">
                            <thead>
                                <tr>
                                    <ng-container *ngFor="let col of columns">
                                        <th scope="col">{{ col | titlecase }}</th>
                                    </ng-container>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let category of categories">
                                    <th scope="row" style="width:10%">{{ category.id }}</th>
                                    <td style="width:60%">{{ category.category | titlecase }}</td>
                                    <td style="width:10%">
                                        <a class="btn btn-sm btn-primary m-1" (click)="edit(category)">
                                            <i class="bi bi-pencil-fill" style="font-size: 14px;"></i>
                                        </a>
                                        <a class="btn btn-sm btn-danger m-1" (click)="delete(category.id)">
                                            <i class="bi bi-trash-fill" style="font-size: 14px;"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>